<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <div class="assign_1">
      <div>
        <input v-model="inputName" />
        <button v-on:click="insertVal()">추가</button>

      </div>
      <div>
        <table>
          <tbody>
            <tr><td>이름</td></tr>
            <tr v-for="name in names">
              <td>{{ name.text }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        {{ namesList }}
      </div>
    </div>
    <div class="assign_2">
      <div>
        <span>* 이름</span>
        <input v-model="employee.name" />
        <span>* 부서</span>
        <input v-model="employee.department" />
        <span>* 직급</span>
        <input v-model="employee.rank" />
        <span>* 연락처</span>
        <input v-model="employee.call" />
        <button v-on:click="insertEmployee()">추가</button>
      </div>
      <div>
        <table>
          <thead>
          <th>이름</th>
          <th>부서</th>
          <th>직급</th>
          <th>연락처</th>
          </thead>
          <tbody>
            <tr>
              <td>홍길동</td>
              <td>망고</td>
              <td>사원</td>
              <td>3333</td>
            </tr>
            <tr :class="info" v-for="emp in employeeList">
              <td>{{ emp.obj.name }}</td>
              <td>{{ emp.obj.department }}</td>
              <td>{{ emp.obj.rank }}</td>
              <td>{{ emp.obj.call }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
        el: '#app',
        data: {
            inputName: '',
            names: [],
            employee: {
                name: '',
                department: '',
                rank: '',
                call: ''
            },
            employeeList: []
        },
        methods: {
            insertVal: function () {
                this.names.push({ text: this.inputName })
            },
            insertEmployee: function () {

                var obj = {}

                obj.name        = this.employee.name
                obj.department  = this.employee.department
                obj.rank        = this.employee.rank
                obj.call        = this.employee.call

                this.employeeList.push({ obj })

            }
        },
        computed: {
            namesList: function () {

                var rtnVal = ""

                this.names.forEach(function (name) {
                    rtnVal += (name.text + " / ")
                })

                return rtnVal
            },
            info: function (e) {

                console.log(e)
                //if (event._isVue == true)

                return "newInfo : true"

                //return isNew == true ? (newInfo : true) : (newInfo : false)
            }
        }
    })
  </script>

  <style>
    .newInfo {
      background-color: red
    }
  </style>
</body>
</html>
